<!-- Кнопка выхода (крестик) в верхнем правом углу модального окна -->
<div class="flex justify-end">
  <button type="button" onclick="closeEditEventModal()" class="text-gray-500 hover:text-gray-700">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <line x1="18" y1="6" x2="6" y2="18" stroke-linecap="round"/>
      <line x1="6" y1="6" x2="18" y2="18" stroke-linecap="round"/>
    </svg>
  </button>
</div>

<form id="editEventForm" method="post" enctype="multipart/form-data" action="{% url 'edit_event' event.id %}">
  {% csrf_token %}
  <div class="mb-4">
    <label class="block text-gray-700">Название:</label>
    {{ form.name }}
  </div>
  <div class="mb-4">
    <label class="block text-gray-700">Дата и время:</label>
    {{ form.date }}
  </div>
  <div class="mb-4">
    <label class="block text-gray-700">Тип мероприятия:</label>
    {{ form.event_type }}
  </div>
  <div class="mb-4">
    <label class="block text-gray-700">Описание:</label>
    {{ form.description }}
  </div>
  <div class="mb-4">
    <label class="block text-gray-700">Местоположение:</label>
    {{ form.location }}
  </div>
  <div class="mb-4">
    <label class="block text-gray-700">Статус модерации:</label>
    {{ form.moderation_status }}
  </div>
  <div class="flex justify-end space-x-4">
    <button type="button" onclick="closeEditEventModal()" class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600 transition duration-300">Отмена</button>
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">Сохранить изменения</button>
  </div>
</form>
