{% extends 'base.html' %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-2xl text-center transform transition-all hover:scale-105 max-w-2xl mx-auto">
    <!-- Уведомления -->
    {% if messages %}
        <div class="mb-6">
            {% for message in messages %}
                <div class="p-4 bg-green-100 border border-green-400 text-green-700 rounded-lg">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="text-4xl font-bold text-gray-800 mb-6">Личный кабинет</h2>
    <div class="space-y-4 text-left">
        <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
        <p><strong>Имя:</strong> {{ user.first_name }}</p>
        <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
        <p><strong>Номер телефона:</strong> {{ user.phone_number }}</p>
    </div>

    <!-- Список детей -->
    <div class="mt-6">
        <h3 class="text-2xl font-bold text-gray-800 mb-4">Дети</h3>
        {% if user.profile.children.all %}
            <ul class="space-y-4">
                {% for child in user.profile.children.all %}
                    <li class="flex justify-between items-center bg-gray-100 p-4 rounded-lg">
                        <div>
                            <p class="text-gray-800"><strong>{{ child.name }}</strong>, {{ child.age }} лет</p>
                        </div>
                        <form action="{% url 'delete_child' child.id %}" method="post" class="inline">
                            {% csrf_token %}
                            <button type="submit" class="text-red-500 hover:text-red-700">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-gray-600">Дети не добавлены.</p>
        {% endif %}
    </div>

    <!-- Кнопка для редактирования профиля -->
    <a href="{% url 'profile_edit' %}" class="mt-6 inline-block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">
        Редактировать профиль
    </a>
</div>
{% endblock %}