<!-- staff/templates/staff/employee_dashboard.html -->
{% extends 'base.html' %}
{% block title %}Панель сотрудника{% endblock %}
{% block content %}
<div class="flex space-x-8 max-w-6xl mx-auto">
    <div class="w-full bg-white p-8 rounded-lg shadow-2xl">
        <h2 class="text-4xl font-bold text-gray-800 mb-6">Панель сотрудника</h2>
        <p class="text-xl font-semibold text-gray-800 mb-6">Добро пожаловать, {{ user.username }}!</p>
        <!-- Тут можно добавить специфичные для сотрудника данные и функциональность -->
    </div>
</div>
{% endblock %}